<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles1.css">

    <title>Document</title>
</head>

<body>
    <!-- preloader  -->
    <div id="preloader"></div>




    <div class="container">
        <div class="left ">
            <!-- <div class="top-left">
                <h1>Vehicle Detection</h1>
                <h3>
                    Powered by image processing
                </h3>
            </div>
            <div class="bottom-left">
                <h5>
                    Accident prevention tips
                </h5>
                <ul>
                    <li>

                    </li>
                </ul>
            </div> -->
            <div class="card  div1">
                <div class="top-left">
                    <h1>Vehicle Detection</h1>
                    <h3>
                        Powered by image processing
                    </h3>
                </div>
                <div class="bottom-left">
                    <h4>
                        Accident prevention tips
                    </h4>
                    <hr>
                    <ul>
                        <li class="listItems">

                            <p>
                                <span>1.</span>
                                Drive in the prescribed speed limits on the various roads.
                                always remember that <span>
                                    "spped thrills but kills"
                                </span>
                            </p>
                        </li>

                        <li>
                            <div class="trafficBox">

                                <button>
                                    <div class="trafficRed" onclick=""></div>
                                </button>


                                <button>
                                    <div class="trafficGreen" onclick=""></div>
                                </button>
                            </div>
                        </li>


                        <li class="listItems">
                            <p>
                                <span>2.</span>
                                Do not drive for long hours in a stretch . have a proper brakes after every 2 hours of
                                continouous driving . always remeber that
                                <span>
                                    "man is a man and not a machine"
                                </span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="top-1">
                <div class="top-left1  ">

                    <div class="div2 container1 container2 " style="border-radius: 5px;">
                        <div class="row">
                            <div class="column leftWindow">
                                <span class="dot" style="background:#ED594A;"></span>
                                <span class="dot" style="background:#FDD800;"></span>
                                <span class="dot" style="background:#5AC05A;"></span>
                            </div>
                            <div class="column middle">
                                <input type="text" value="Preprocessing" disabled="" fdprocessedid="4f56fp">
                            </div>

                        </div>

                        <div class="content">
                            <div class="box">
                                <div class="sampleimput-box">

                                    <img class="images" src="images/Cargif.gif" alt="">
                                </div>
                                <!-- <div class="inputSampleRes">hello</div> -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="top-right1 ">
                    <div class=" div3 container1 container2">
                        <div class="row">
                            <div class="column leftWindow">
                                <span class="dot" style="background:#ED594A;"></span>
                                <span class="dot" style="background:#FDD800;"></span>
                                <span class="dot" style="background:#5AC05A;"></span>
                            </div>
                            <div class="column middle">
                                <input type="text" value="Postprocessing image " disabled="" fdprocessedid="4f56fp">
                            </div>

                        </div>

                        <div class="content">
                            <div class="box progressBox">

                                <div class="inputSampleRes1">
                                    <div class="progress-wrapper">

                                        <div class="progress">
                                            <div class="color"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div class="bottom-0 div4">
                    <div class="container1 container2">
                        <div class="row">
                            <div class="column leftWindow">
                                <span class="dot" style="background:#ED594A;"></span>
                                <span class="dot" style="background:#FDD800;"></span>
                                <span class="dot" style="background:#5AC05A;"></span>
                            </div>
                            <div class="column middle">
                                <input type="text" value="Postprocessing image " disabled="" fdprocessedid="4f56fp">
                            </div>

                        </div>

                        <div class="content" style="height:200px; width: 100%;">
                            <div class="box1">

                                <% data.forEach(item=> { %>
                                    <ul id="result-UL">
                                        <li>ID: <%= item.id %>, </li>
                                        <li>Speed: <%= item.speed %>,</li>
                                        <li>Created at: <%= item.created_at %>
                                        </li>
                                    </ul>
                                    <% }); %>



                                        <!-- <ul id="result-UL">
                                    <li>ID: 1, </li>
                                    <li>Speed: 20,</li>
                                    <li>Created at: 2023-05-30 12:00:00
                                    </li>

                                </ul>
                                <ul id="result-UL">
                                    <li>ID: 2, </li>
                                    <li>Speed: 30,</li>
                                    <li>Created at: 2023-05-30 12:00:30
                                    </li>

                                </ul>
                                <ul id="result-UL">
                                    <li>ID: 3, </li>
                                    <li>Speed: 60,</li>
                                    <li>Created at: 2023-05-30 12:00:50
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>


    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
            setTimeout(() => {
                loader.style.display = "none";
            }, 1000);
        })

        var progress = document.querySelector(".progress");

        window.addEventListener("load", function () {
            setTimeout(() => {
                progress.style.display = "none";
            }, 4000);
        })

        // Find the progressBox element
        var progressBox = document.querySelector('.progressBox');

        // Delayed addition of the content after 4 seconds
        setTimeout(function () {
            // Create a new div element with the class name 'sampleimput-box'
            var divElement = document.createElement('div');
            divElement.className = 'sampleimput-box';

            // Create an image element
            var imgElement = document.createElement('img');
            imgElement.className = 'images';
            imgElement.src = 'images/outpygif.gif';
            imgElement.alt = '';

            // Append the image element to the div element
            divElement.appendChild(imgElement);

            // Append the div element to the progressBox element
            progressBox.appendChild(divElement);
        }, 4000);

    </script>

</body>

</html>