* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #fdfdfd;
  background-image: radial-gradient(#585858 1.6px, #fdfdfd 1.6px);
  background-size: 32px 32px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
}
.div2 {
  grid-area: 1 / 2 / 4 / 4;
}
.div3 {
  grid-area: 1 / 4 / 4 / 6;
}
.div4 {
  grid-area: 4 / 2 / 6 / 6;
}

.div1 {
  padding: 1rem;
  margin: 2rem 5rem;
  opacity: 100%;
  height: 100%;
  border: 1px solid rgb(182, 227, 249);
  -webkit-box-shadow: 6px 6px 0px 0px rgb(182, 227, 249);
  -moz-box-shadow: 6px 6px 0px 0px rgb(182, 227, 249);
  box-shadow: 6px 6px 0px 0px rgb(182, 227, 249);
  background-color: white;
}

.container {
  border: 3px solid #f1f1f1;
}

.container1 {
  border: 1px solid rgb(0, 0, 0, 0.815);
  -webkit-box-shadow: 6px 6px 0px 0px rgb(209, 243, 200);
  -moz-box-shadow: 6px 6px 0px 0px rgb(209, 243, 200);
  box-shadow: 6px 6px 0px 0px rgb(209, 243, 200);
}
.container1 .row,
.container1 .box {
  background-color: rgb(209, 243, 200);
}

.container2 {
  border: 1px solid rgba(0, 0, 0, 0.815);
  -webkit-box-shadow: 6px 6px 0px 0px rgb(253, 249, 180);
  -moz-box-shadow: 6px 6px 0px 0px rgb(253, 249, 180);
  box-shadow: 6px 6px 0px 0px rgb(253, 249, 180);
}
.container2 .row,
.container2 .box {
  background-color: rgb(253, 249, 180);
}

.container3 {
  border: 1px solid rgb(0, 0, 0, 0.815);
  -webkit-box-shadow: 6px 6px 0px 0px rgb(255, 204, 204);
  -moz-box-shadow: 6px 6px 0px 0px rgb(255, 204, 204);
  box-shadow: 6px 6px 0px 0px rgb(255, 204, 204);
}
.container3 .row,
.container3 .box {
  background-color: rgb(255, 204, 204);
}

/* Container for columns and the top "toolbar" */
.row {
  padding: 10px;
  background: #f1f1f1;
  border-bottom: 1px solid rgb(0, 0, 0, 0.815);
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field  */
input[type="text"] {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
}

/* Three bars (hamburger menu) */
 .bar {
  width: 15px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Page content */
.content {
  padding: 10px;
}

.div2,
.div3 {
  padding: 1rem;
  margin: 2rem 1rem;
}
.div4 {
  margin: 0 1.5rem;
}

.box {
  border: 1px solid #3b3a3a;
  padding: 1rem;
  margin: 2rem 1rem;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sampleinput-box img {
  height: 100%;
  width: 100%;
}

.box img {
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
.left {
  flex-basis: 30%;
  height: 100vh;
  background-color: #ccc;
  padding: 20px;
}
.right {
  flex-basis: 70%;
  background-color: #aaa;
  height: 100vh;
   padding: 20px; 
}

.top-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 60%; 
}

.top-left1 {
  flex-basis: 50%;
  height: 65vh;
  background-color: #ab3c3c;
  padding: 20px;
}

.top-right1 {
  flex-basis: 50%;
  background-color: #350b0b;
  height: 65vh;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left {
    height: 30%;
  }
  .right {
    height: 70%;
  }
} */
